<!DOCTYPE html>
<html lang="en" ng-app="minmax">
    <head>
        <title>Controllers</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
        <script src="//code.angularjs.org/1.5.0-rc.2/angular.min.js"></script>
    </head>   
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Controllers</a>
                </div>
            </div>
        </nav>
        
        <div class="container main-content" ng-controller="MinMaxCtrl">
            <form ng-submit="onSubmit(theForm.$valid)" novalidate="novalidate" name="theForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" ng-model="formModel.name" class="form-control" id="name">
                </div>
                
                <div class="form-group" ng-class="{'has-error':!theForm.email.$valid && (!theForm.$pristine || theForm.$submitted), 'has-success':theForm.email.$valid && (!theForm.$pristine || theForm.$submitted)}">
                    <label for="email">Email</label>
                    <input type="email" ng-model="formModel.email" class="form-control" id="email"
                           required="required"
                           name="email">
                    <p class="help-block" ng-show="theForm.email.$error.required && (!theForm.$pristine || theForm.$submitted)">
                        This field is required
                    </p>
                    <p class="help-block" ng-show="theForm.email.$error.email && (!theForm.$pristine || theForm.$submitted)">
                        Please enter an email with at least an @ symbol
                    </p>
<!--                    <pre>Validation {{ theForm.email.$error | json }} </pre>
                    <pre>Field Valid? {{ theForm.email.$valid }}</pre>
                    <pre>Form Pristine? {{ theForm.$pristine }}</pre>
                    <pre>Form Submitted? {{ theForm.$submitted }}</pre>-->
                </div>
                
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" ng-model="formModel.age" id="age">
                </div>
                
                <div class="form-group">
                    <label for="sex">Sex</label>
                    <select name="sex" id="sex" class="form-control" ng-model="formModel.sex">
                        <option value="">Please Choose</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="formModel.password" class="form-control" id="password">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
            
            <pre>{{theForm | json}}</pre>
        </div>
        
        <script src="main.js"></script>
    </body>
</html>
